# Lists & tuples

## Parentheses

In [2]:
print (type (10))

<class 'int'>

In [3]:
x=[234,234,256,567,987,567,456,345]

In [4]:
x

[234, 234, 256, 567, 987, 567, 456, 345]

In [5]:
len(x)

8

In [6]:
x[0]

234

In [7]:
x[-1]

345

In [8]:
x[0:5]

[234, 234, 256, 567, 987]

In [9]:
y=[123,'Adam',[3,4,5],'smith',567,3.5]

In [10]:
y[2][1]

4

In [11]:
y[3][1]

'm'

In [12]:
type(y)

list

In [13]:
z=x[0:5]

In [14]:
z

[234, 234, 256, 567, 987]

In [15]:
x[0]=999

In [16]:
x

[999, 234, 256, 567, 987, 567, 456, 345]

In [17]:
z

[234, 234, 256, 567, 987]

In [18]:
A=x

In [19]:
A

[999, 234, 256, 567, 987, 567, 456, 345]

In [20]:
x[0]=777

In [21]:
x

[777, 234, 256, 567, 987, 567, 456, 345]

In [22]:
A

[777, 234, 256, 567, 987, 567, 456, 345]

 ## Lists are mutable

In [25]:
B= x[:]

In [26]:
x[0]

777

In [27]:
B

[777, 234, 256, 567, 987, 567, 456, 345]

In [28]:
x[0]=333

In [30]:
A

[333, 234, 256, 567, 987, 567, 456, 345]

In [31]:
x

[333, 234, 256, 567, 987, 567, 456, 345]

In [32]:
B

[777, 234, 256, 567, 987, 567, 456, 345]

## List Operations : Concatenation ,Delete ,Extend ,Add , Append

In [34]:
q=[22,5,7,'Sara']
w=[99,5,7.5]

In [38]:
m=q+w

In [39]:
m

[22, 5, 7, 'Sara', 99, 5, 7.5]

In [40]:
del(m[0])

In [41]:
m

[5, 7, 'Sara', 99, 5, 7.5]

In [42]:
t=['Adam','Smith']

In [43]:
q.extend(t)
q

[22, 5, 7, 'Sara', 'Adam', 'Smith']

In [45]:
q.extend(['Yasmin','Al-Omary'])

In [46]:
q

[22, 5, 7, 'Sara', 'Adam', 'Smith', 'Yasmin', 'Al-Omary']

In [47]:
q.append(t)
q

[22, 5, 7, 'Sara', 'Adam', 'Smith', 'Yasmin', 'Al-Omary', ['Adam', 'Smith']]

In [48]:
del(q[3:8])

In [49]:
q

[22, 5, 7, ['Adam', 'Smith']]

In [50]:
del(q[3:5])

In [51]:
q

[22, 5, 7]

In [52]:
n =[22, 5, 7, 'Sara', 'Adam', 'Smith', 'Yasmin', 'Al-Omary',  ['Adam', 'Smith']]

In [53]:
del(n[3:len(n)])

In [54]:
n

[22, 5, 7]

In [55]:
del(n[5:len(n)])

In [56]:
n

[22, 5, 7]

In [57]:
n =[22, 5, 7, 'Sara', 'Adam', 'Smith', 'Yasmin', 'Al-Omary',  ['Adam', 'Smith']]
del(n[5:len(n)])
n

[22, 5, 7, 'Sara', 'Adam']

## Sorting List

In [58]:
H=[12,5,7.5,44,87,99,54,55,78]

In [59]:
H.sort()
H

[5, 7.5, 12, 44, 54, 55, 78, 87, 99]

In [60]:
u=[12,5,7.5,44,87,99,54,55,78]

i= sorted (u)

In [61]:
i

[5, 7.5, 12, 44, 54, 55, 78, 87, 99]

In [62]:
u

[12, 5, 7.5, 44, 87, 99, 54, 55, 78]

In [63]:
u[0]=999

In [64]:
u

[999, 5, 7.5, 44, 87, 99, 54, 55, 78]

In [65]:
i

[5, 7.5, 12, 44, 54, 55, 78, 87, 99]

## Tuple

In [67]:
tuple1=(3,5,88,9,2.5)

In [68]:
tuple1

(3, 5, 88, 9, 2.5)

In [69]:
type(tuple1)

tuple

In [70]:
tuple2=(5,8,3,'Happy New Year',4.7,[8,4,9],(3,5))
tuple2

(5, 8, 3, 'Happy New Year', 4.7, [8, 4, 9], (3, 5))

## Tuple is immutable - Fixed

In [71]:
list2=list(tuple2)
list2

[5, 8, 3, 'Happy New Year', 4.7, [8, 4, 9], (3, 5)]

In [72]:
list3=list((5,8,3,'Happy New Year',4.7,[8,4,9],(3,5)))
list3

[5, 8, 3, 'Happy New Year', 4.7, [8, 4, 9], (3, 5)]